@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
    width: 280px;
    height: 280px;
}
.main {
    height: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.cont {
    height: 800px;
    margin: 2px 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header {
    background-color: white;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.header ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
}
.main-header,
.main-header-2 {
    text-align: center;
    padding-top: 80px;
    font-family: 'Shadows Into Light', cursive;
}
.main-header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}
.main-item {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-text {
    text-align: center;
    list-style-type: none;
}
.footer {
    padding: 40px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-top: 1px solid rgb(220, 220, 220);
}
.play {
    display: flex;
    justify-content: center;
    align-items: center;
}
#left-rock,
#left-paper,
#left-scissors,
#right-rock,
#right-paper,
#right-scissors,
#start,
#right-start {
    display: none;
}
#start,
#right-start {
    animation: spin .5s 3;
}
@keyframes spin {
0% {
    animation-timing-function: ease-out;
    transform: rotate(0deg);
}
25% {
    transform: rotate(-10deg);
}
50% {
    transform: rotate(-20);
}
100% {
    animation-timing-function: ease-in;
}
}
#pick {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    padding-bottom: 50px;
    padding-top: 100px;
}
#winner,
#loser,
#tie {
    text-align: center;
    padding-top: 50px;
    display: none;
}
#loser {
    color: red;
}
#winner {
    color: green;
}
body {
    background-image: url(./images/shattered.png);
    font-family: 'Shadows Into Light', cursive;
}

/* Responsive */

/* For Mobile */
@media screen and (max-width: 540px) {
    .cont {
        height: 1200px;
    }
}
/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .cont {
        height: 850px;
    }
}