*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
    width: 280px;
    height: 280px;
}
.main {
    height: 50vh;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 50px;
}
.header {
    padding: 50px;
}
.nav {
    display: flex;
    justify-content: center;
}
.header-logo {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.main-header {
    text-align: center;
    padding-top: 80px;
}
.main-item {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-text {
    text-align: center;
    list-style-type: none;
}
.footer {
    padding: 40px;
}
.play {
    display: flex;
    justify-content: center;
    align-items: center;
}
#left-rock,
#left-paper,
#left-scissors,
#right-rock,
#right-paper,
#right-scissors,
#start,
#right-start {
    display: none;
}
#start,
#right-start {
    animation: spin .5s 3;
}
@keyframes spin {
0% {
    animation-timing-function: ease-out;
    transform: rotate(0deg);
}
25% {
    transform: rotate(-10deg);
}
50% {
    transform: rotate(-20);
}
100% {
    animation-timing-function: ease-in;
}
}
.pick {
    text-align: center;
    padding-bottom: 100px;
}
#winner,
#loser,
#tie {
    text-align: center;
    padding-top: 50px;
    display: none;
}